{% extends "_base.html" %}
{% load static %}
{% load cache %}
{% block content %}
    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href={% url 'home' %}> <img alt="" src={% static "img/core-img/logo.png" %}></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href={% url 'home' %}> <img alt="" src={% static "img/core-img/logo.png" %}></a>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li class="active"><a href={% url 'home' %}>Home</a></li>
                    <li><a href="{% url 'shop' %}">Shop</a></li>
                    <li><a href={% url 'basket' %}>Cart</a></li>
                    <li><a href="{% url 'checkout' %}">Checkout</a></li>
                </ul>
            </nav>
            <!-- Button Group -->
            <div class="amado-btn-group mt-30 mb-100">
                <a href="#" class="btn amado-btn mb-15">%Discount%</a>
                <a href="#" class="btn amado-btn active">New this week</a>
            </div>
            <!-- Cart Menu -->
            <div class="cart-fav-search mb-100">
                <a class="cart-nav" href={% url 'basket' %}><img alt="" src={% static "img/core-img/cart.png" %}>
                    Cart
                    <span>({% if basket is not None %}
                        {{ basket.get_basket_count }} {% else %} 0
                    {% endif %}) </span></a>
                <a href="#" class="fav-nav"><img alt="" src={% static "img/core-img/favorites.png" %}> Favourite</a>
            </div>
            <!-- Social Button -->
            <div class="social-info d-flex justify-content-between">
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </header>
        <!-- Header Area End -->

        <!-- Product Catagories Area Start -->
        <div class="products-catagories-area clearfix">
            <div class="amado-pro-catagory clearfix">
                {% cache 900 object_list %}
                    {% for product in object_list %}
                        <div class="single-products-catagory clearfix">
                            <a href="{% url 'shop' %}">
                                <img alt="" src={{ product.image.url }}>
                                <!-- Hover Content -->
                                <div class="hover-content">
                                    <div class="line"></div>
                                    <p>From ${{ product.price }}</p>
                                    <h4>{{ product.name }}</h4>
                                </div>
                            </a>
                        </div>

                    {% endfor %}
                {% endcache %}
            </div>
        </div>
        <!-- Product Catagories Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->

{% endblock %}
