{% extends "_base.html" %}

{% load static %}
{% block content %}
    <!-- ##### Main Content Wrapper Start ##### -->
    <div class="main-content-wrapper d-flex clearfix">

        <!-- Mobile Nav (max width 767px)-->
        <div class="mobile-nav">
            <!-- Navbar Brand -->
            <div class="amado-navbar-brand">
                <a href="{% url 'home' %}"><img alt="" src={% static "img/core-img/logo.png" %}></a>
            </div>
            <!-- Navbar Toggler -->
            <div class="amado-navbar-toggler">
                <span></span><span></span><span></span>
            </div>
        </div>

        <!-- Header Area Start -->
        <header class="header-area clearfix">
            <!-- Close Icon -->
            <div class="nav-close">
                <i class="fa fa-close" aria-hidden="true"></i>
            </div>
            <!-- Logo -->
            <div class="logo">
                <a href="{% url 'home' %}"><img alt="" src={% static  "img/core-img/logo.png" %}></a>
            </div>
            <!-- Amado Nav -->
            <nav class="amado-nav">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'shop' %}">Shop</a></li>
                    <li><a href="{% url 'basket' %}">Cart</a></li>
                    <li><a href="{% url 'checkout' %}">Checkout</a></li>
                </ul>
            </nav>
            <!-- Button Group -->
            <div class="amado-btn-group mt-30 mb-100">
                <a href="#" class="btn amado-btn mb-15">%Discount%</a>
                <a href="#" class="btn amado-btn active">New this week</a>
            </div>
            <!-- Cart Menu -->
            <div class="cart-fav-search mb-100">
                <a class="cart-nav" href={% url 'basket' %}><img alt="" src={% static "img/core-img/cart.png" %}>
                    Cart
                    <span>({% if basket is not None %}
                        {{ basket.get_basket_count }} {% else %} 0
                    {% endif %}) </span></a>
                <a href="#" class="fav-nav"><img alt="" src={% static "img/core-img/favorites.png" %}> Favourite</a>
            </div>
            <!-- Social Button -->
            <div class="social-info d-flex justify-content-between">
                <a href="#"><i class="fa fa-pinterest" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a>
                <a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a>
            </div>
        </header>
        <!-- Header Area End -->

        <!-- Product Details Area Start -->
        <div class="single-product-area section-padding-100 clearfix">
            <div class="container-fluid">

                <div class="row">
                    <div class="col-12">
                        <nav aria-label="breadcrumb">
                            <ol class="breadcrumb mt-50">
                                <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                                <li class="breadcrumb-item"><a href="{% url 'shop' %}">Shop</a></li>
                                <li class="breadcrumb-item"><a href="#">Product</a></li>
                                <li class="breadcrumb-item"><a href="#">{{ product.category }}</a></li>
                                <li class="breadcrumb-item active" aria-current="page">{{ product.name }}</li>
                            </ol>
                        </nav>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="single_product_thumb">
                            <a class="gallery_img" href={{ product.image.url }}>
                                <img class="d-block w-100" alt="Fourth slide"
                                     src={{ product.image.url }}>
                            </a>
                        </div>
                    </div>
                    <div class="col-12 col-lg-5">
                        <div class="single_product_desc">
                            <!-- Product Meta Data -->
                            <div class="product-meta-data">
                                <div class="line"></div>
                                <p class="product-price">${{ product.price }}</p>
                                <a href="{% url 'product' product.pk %}">
                                    <h6>{{ product.name }}</h6>
                                </a>
                                <!-- Ratings & Review -->
                                <div class="ratings-review mb-15 d-flex align-items-center justify-content-between">
                                    <div class="ratings">
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                        <i class="fa fa-star" aria-hidden="true"></i>
                                    </div>
                                    <div class="review">
                                        <a href="#">Write A Review</a>
                                    </div>
                                </div>
                                <!-- Available -->
                                {% if product.in_stock %}
                                    <p class="avaibility"><i class="fa fa-circle"></i>In Stock </p>
                                {% else %}
                                    <p class="un_avaibility"><i class="fa fa-circle"></i> Not available in stock</p>
                                {% endif %}
                                <p class="un_avaibility">quantity : {{ product.quantity }}</p>
                            </div>

                            <div class="short_overview my-5">
                                <p>{{ product.description }}</p>
                            </div>

                            <!-- Add to Cart Form -->
                            <form class="cart clearfix" method="post">
                                {% csrf_token %}
                                <div class="cart-btn d-flex mb-50">
                                    <p>Qty</p>
                                    <div class="quantity">
                                        {{ form.product }}
                                        <span class="qty-minus"
                                              onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty ) &amp;&amp; qty > 1 ) effect.value--;return false;"><i
                                                class="fa fa-caret-down" aria-hidden="true"></i></span>
                                        {{ form.quantity }}
                                        <span class="qty-plus"
                                              onclick="var effect = document.getElementById('qty'); var qty = effect.value; if( !isNaN( qty )) effect.value++;return false;"><i
                                                class="fa fa-caret-up" aria-hidden="true"></i></span>
                                    </div>
                                </div>

                                <input type="hidden" name="next" value="{{ request.build_absolute_uri }}">
                                <button type="submit" name="addtocart" value="5" class="btn amado-btn"
                                        {% if not product.in_stock %}
                                        disabled
                                        {% endif %} >Add to cart
                                </button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Product Details Area End -->
    </div>
    <!-- ##### Main Content Wrapper End ##### -->
{% endblock %}